@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  padding: 25px;
}
header {
  text-align: center;
  padding: 50px;
}
header h1 {
  font-size: 1.5rem;
  font-weight: 200;
  color: hsl(234, 12%, 34%);
}
header h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: hsl(234, 12%, 34%);
}
header p {
  margin-top: 20px;
  font-size: 1rem;
  font-weight: 400;
  color: hsl(234, 12%, 34%);
}
.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}
.card {
  border-radius: 5px;
  box-shadow: 1px 8px 14px 2px hsl(229, 6%, 66%);
  padding: 25px;
  margin: 2rem 0;
  max-width: 400px;
}
.card.cyan {
  border-top: 5px solid hsl(180, 62%, 55%);
  margin: 0;
}
.card.red {
  border-top: 5px solid hsl(0, 78%, 62%);
}
.card.orange {
  border-top: 5px solid hsl(34, 97%, 64%);
}
.card.blue {
  border-top: 5px solid hsl(212, 86%, 64%);
  margin: 0;
}
.card img {
  display: block;
  margin-left: auto;
  margin-top: 20px;
}
.card h2 {
  font-size: 1.5rem;
  color: hsl(234, 12%, 34%);
}

.card p {
  font-size: 1rem;
  color: hsl(234, 12%, 34%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 1200px) {
  body {
    font-size: 18px;
  }
  header h1,
  header h2 {
    font-size: 2em;
  }
  header p {
    font-size: 1.1rem;
  }
  .cards {
    flex-direction: row;
  }
  .card {
    margin: 2rem;
  }
}
